<!DOCTYPE html>
<html>

<head>
<!-- Add in CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>LSDS12 Twitoff - {{ title }}</title>
</head>

<body>
  <a href="/about" class="btn btn-outline-warning float-left" role="button">About</a>
  <a href="/reset" class="btn btn-danger float-right" role="button">Reset Users</a>
    <center>
      <h1>Welcome to Twitoff!</h1>
      <p>This is Kenneth Barrett's Unit 3 - Sprint 3 project for Lambda School's DS12 program.</p>

      {% block content %}

      <div class="row">
        <div class="col-lg-6">
          <h2>Users Currently Stored</h2>
          <ul class="list-group list-group-flush">
            {% for user in users %}
            <li class="list-group-item">
              {{ user.name }}
            </li>
            {% endfor %}
          </ul>
        <!-- Put in a form to add new user -->
         <form action="/user" method="post">
               <input type="text" class="form-control" name="user_name", placeholder="Username to Add to Twitoff">
               <br>
               <input type="submit" class="btn btn-info" value="Add User">
        </div>
          </form>
      <div class="col-lg-6">
        <h2>Who's more likely to say it?</h2>
        <!-- Add in form to select users to compare. -->
        <form action ="/compare" method="post">
          <select class="form-control" name="user1">
            {% for user in users %}
            <option value="{{ user.name }}" > {{  user.name }}</option>
            {% endfor %}
          </select>

          <select class="form-control" name="user2">
            {% for user in users %}
            <option value="{{ user.name }}" > {{ user.name }}</option>
            {% endfor %}
          </select>
             <textarea class="form-control" name=tweet_text placeholder="Tweet (Text to Predict)" rows=2></textarea>
             <br>
             <input type="submit" class="btn btn-primary" value="Compare Users">
      </div>
      {% endblock %}
</center>
</div>
</div>
</body>
<br><br><br>
<footer>
  <center>&copy; Kenneth T. Barrett 2020</center>
</footer>
</html>
